<h2>Edit Post</h2>
<h3><%= render "layouts/flash" %></h3>
<form method="PUT" action="/users/<%=@post.user_id%>/posts/<%=@post.id%>">
  <%= token_tag %>
  <label for="title">Title</label>
  <input type="text" name="title" id="title" value="<%=@post.title%>" required><br/><br/>
  <label for="body">Body</label>
  <input type="text" name="body" id="body" value="<%=@post.body%>"><br/><br/>
  <input type="submit" value="Update Post">
</form>